<!DOCTYPE HTML>
<html>
  <head>
    <title>欢迎访问浙江数字民政平台</title>
      {% script "/js/jquery-1.8.0.min.js" %}

      {% script "/js/easyui/easyloader.js" %}


      {% style "/css/leaflet.css" %}

      {% script "/js/leaflet.js" %}



      {% style "/css/leaflet.draw.css" %}
      {% style "/css/Control.MiniMap.css" %}
      {% script "/js/leaflet.draw-src.js" %}

      {% script "/js/leaflet.gml.js" %}
      {% script "/js/leaflet.wfst.js" %}

      {% script "/js/leaflet-search.js" %}

      {% script "/js/easy-button.js" %}
      {% script "/js/Control.MiniMap.js" %}

      {% style "/css/map.css" %}
      {% style "/css/font-awesome-4.1.0/css/font-awesome.min.css" %}
      {% style "/css/leaflet-search.css" %}

      {% script "/js/map.js" %}
      {% script "/js/jquery.json-2.4.js" %}



      {% script "/js/leaflet-geoip.js" %}
      {% script "/js/iframeResizer.contentWindow.min.js" %}

  </head>

  <body>

  <div id="map"></div>
  <script type="text/javascript">
      // Load the map with the initMap function in map.js
      initMap();
  </script>

    </body>
</html>
