{% extends "templates/base.html" %}
{% block content  %}
{% if user-id %}

<div class="row-fluid marketing">
    {% for item in content.content %}
    <div class="span4" style="{{forloop.counter0|rowfirstspan}}">
        <h2>{{item.funcname}}</h2>
        <p>{{item.funcname}},进入系统享受服务，处于测试阶段，如有疑问，发现bug，欢迎提交。天地之间有杆秤，大秤妥是那老百姓，秤杆子吖挑呀挑江山，你就是那定盘的心。
        为官者，务必清廉，否则有何面目于兄妹父母，相亲父老，有何面目立于天地之间也。
        </p>
        <p><a class="btn btn-lg btn-success" roleid="{{item.roleid}}" sessionuid="{{content.sessionuid}}" href="#" addr="{{item.label}}">点击进入 &raquo;</a></p>
    </div>


    {% endfor %}


</div>

<script type="text/javascript">
    /*function autoHeight(){
        var iframeHeight =function(){
            var iframe = document.getElementById("runtime");//这里括号内的"runtime"其实就是上面的ID，要改成自己上面填写的ID。
            if(iframe.Document){//ie自有属性
                iframe.style.height = iframe.Document.documentElement.scrollHeight;
            }else if(iframe.contentDocument){//ie,firefox,chrome,opera,safari
                iframe.height = iframe.contentDocument.body.offsetHeight ;
            }
        }
        setTimeout(iframeHeight, 500);
    }*/
   $('a.btn').click(function(){

      var src=$(this).attr('addr')+"?roleid="+$(this).attr('roleid');
      var container=$('div.row-fluid').parent();
      container.html('');
       /*container.append('<iframe  src="'+src+'" frameborder="0" id="runtime" name="runtime" scrolling="no" ' +
              'allowtransparency="true" height="100%" width="100%" ></iframe>');*/
      container.html('<iframe  src="'+src+'" frameborder="0" id="runtime" name="runtime" scrolling="no" ' +
              'allowtransparency="true" height="100%" width="100%" ></iframe>');



   });
   if($('a.btn').length==1){
       $('a.btn').click();
   }
</script>

{% ifequal  content.nums "1" %}

{% else %}
{% endifequal %}


{% else %}

{% include "templates/welcome.html" %}
{% endif %}

{% endblock %}