{% extends "templates/base.html" %}
{% block content  %}
{% if user-id %}

<div class="row-fluid marketing">
    {% for item in content.content %}
    <div class="span4" style="{{forloop.counter0|rowfirstspan}}">
        <h2>{{item.funcname}}</h2>
        <p>{{item.funcname}},进入系统享受服务，处于测试阶段，如有疑问，发现bug，欢迎提交。天地之间有杆秤，大秤妥是那老百姓，秤杆子吖挑呀挑江山，你就是那定盘的心。
        为官者，务必清廉，否则有何面目于兄妹父母，相亲父老，有何面目立于天地之间也。
        </p>
        <p><a class="btn btn-lg btn-success" roleid="{{item.roleid}}" imgcss="{{item.imgcss}}" titlesname="{{item.funcname}}" sessionuid="{{content.sessionuid}}" href="#" addr="{{item.label}}">点击进入 &raquo;</a></p>
    </div>


    {% endfor %}


</div>

<script type="text/javascript">
    if (!Array.prototype.forEach){
        Array.prototype.forEach = function(fun /*, thisArg */){
            "use strict";
            if (this === void 0 || this === null || typeof fun !== "function") throw new TypeError();

            var
                    t = Object(this),
                    len = t.length >>> 0,
                    thisArg = arguments.length >= 2 ? arguments[1] : void 0;

            for (var i = 0; i < len; i++)
                if (i in t)
                    fun.call(thisArg, t[i], i, t);
        };
    }

    $('a.btn').click(function(){

      var src=$(this).attr('addr')+"?roleid="+$(this).attr('roleid');
      var container=$('div.row-fluid').parent();
      container.html('<iframe  src="'+src+'" frameborder="0" id="runtime" name="runtime" scrolling="no" ' +
              'allowtransparency="true" height="100%"  width="100%" ></iframe>');


      var titlename=$(this).attr('titlesname');
      var cssname=$(this).attr('imgcss');
      $('title').text(titlename);
      $('#nav-logo-text').text(titlename);

      $('#navbar-div-container').addClass('container-nav-'+cssname);
      $('#nav-logo').addClass('nav-logo-'+cssname);
      $('#nav-logo-text').addClass('nav-logotext-'+cssname);
      console.log($('#nav-logo-text').height()+60);
      $('#runtime').height($('body').height()-($('#nav-logo-text').height()+60));
      $('body').css('padding-top',$('#nav-logo-text').height()-20);
      /*if($('#nav-logo-text').height()>20){

          $('body').css('padding-top',$('#nav-logo-text').height()-20);
      }else{
          $('body').css('padding-top',($('#nav-logo-text').height()));
      }*/




       iFrameResize({
           log                     : false,                  // Enable console logging
           enablePublicMethods     : true,                  // Enable methods within iframe hosted page
           resizedCallback         : function(messageData){ // Callback fn when resize is received
           },
           messageCallback         : function(messageData){ // Callback fn when message is received

           },
           closedCallback         : function(id){ // Callback fn when iFrame is closed

           }
       });



   });
   if($('a.btn').length==1){
       $('a.btn').click();
   }
</script>

{% ifequal  content.nums "1" %}

{% else %}
{% endifequal %}


{% else %}

{% include "templates/welcome.html" %}
{% endif %}

{% endblock %}