 <nav>
  {% if user-id %}

      <div class="navbar navbar-fixed-top">
          <div class="navbar-inner customnav">
              <div class="container">
                  <!--navigation does here-->
                  <a class="brand">浙江海予</a>
                  <ul class="nav pull-right">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-user"></i>{{user-id}} <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="{{servlet-context}}/profile">修改密码</a></li>
                          <li class="divider"></li>
                          <li><a href="{{servlet-context}}/logout">注销</a></li>
                      </ul>
                  </li>
                  </ul>
              </div>
          </div>

      </div>
  {% else %}
    <div class="navbar navbar-fixed-top ">
        <div class="navbar-inner customnav">
            <div class="container">
                <!--navigation does here-->
                <ul class="nav pull-right">
                    <li class="dropdown" style="width:360px;">
                        <form action="{{servlet-context}}/login" class="navbar-form" method="POST">
                            {% if login-error %}
                            <a class="alert alert-danger">{{login-error}}</a>
                            {% endif %}
                            <input class="span2"
                                   id="username"
                                   name="username"
                                   placeholder="用户名"
                                   style="margin-right: 5px"
                                   type="text"/>

                            <input class="span2"
                                   id="password"
                                   name="password"
                                   placeholder="密码"
                                   style="margin-right: 5px"
                                   type="password"/>
                            <input class="btn" type="submit" value="登陆"/>
                        </form>
                    </li>
                    <li>
                        <a href="{{servlet-context}}/register" style="display:none;">Register</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>


  {% endif %}
 </nav>