{% extends "templates/base.html" %}
{% block menu %}
{% endblock %}
{% block content %}
  <h2>修改用户密码 {{user.username}}</h2>
  <form action="{{servlet-context}}/update-profile" method="POST">
    <div class="form-group col-lg-3">
      <label for="id">旧密码</label>
      <p>
        <input class="form-control" id="first-name" name="passwordold" tabindex="1" type="password" ></input>
          {% if msg %}
          <a class="alert alert-danger">{{msg}}</a>
          {% endif %}
      </p>
      <label for="id">新密码</label>
      <p>
        <input class="form-control" id="last-name" name="passwordnew" tabindex="1" type="password"></input>
      </p>

      <input class="btn btn-lg btn-success" tabindex="4" type="submit" value="修改">
    </div>
  </form>
{% endblock %}
