html,
body,.main-display-area,.col-md-7  {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 20px;
    overflow: hidden;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -80px;
}

.container
{
    width:99% !important;
}
.container-nav-auth
{
    width:100% !important;
    height: 53px;
    line-height: 53px;
    z-index: 1;
    vertical-align:middle;
    background-image:url(../img/loginfooter.png);
}
.nav-logo-auth{

   margin-left:20px !important;
    background: url(../img/logo.png) no-repeat;
    height: 53px;
    width: 220px;
    padding: 0px 0px 0px 0px!important;
    text-align: center;
}
.nav-logotext-auth{
    margin-left:20px !important;
    height: 53px;
    padding: 0px 0px 0px 0px!important;
    text-align: center;
}
.nav-dropdown-auth{

    /*height: 50px;*/
}

.element {
    display:inline-block;
    display:inline;
}



