html,
body,.main-display-area,.col-md-7  {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 20px;
    overflow: hidden;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -80px;
}

.container
{
    width:99%;
}
.element {
    display:inline-block;
    display:inline;
}
.customnav{
    min-height: 40px; /* change value here*/
}

