html,
body,.main-display-area,.col-md-7  {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}


.container
{
    zoom:1;
}
.element {
    display:inline-block;
    display:inline;
}

