<div  class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">

    <div>
        <ul>
         <li><a href="../auth/addlog?logcontent=测试&callback=funcname" target="_blank">日志输入接口</a>
             输入:logcontent (日志类容) , callback (跨域回调函数名)。输出 callback({"success":true,"msg":""})
         </li>
         <li><a href="../auth/getenumbytype?type=sex&callback=funcname" target="_blank">获取枚举</a>
             输入:type (枚举类型) , callback (跨域回调函数名)。输出 callback({"success":true,"msg":""})
         </li>
            <li><a href="../auth/getenumskey?keyword=sex&callback=funcname" target="_blank">获取枚举</a>
             输入:keyword (枚举类型) , callback (跨域回调函数名)。输出 callback({"success":true,"msg":""})
         </li>
         <li> <a href="../auth/getfuncsbyrole?type=权限设置&callback=funcname" target="_blank">获取功能权限</a>
             输入:type (权限父类型) , callback (跨域回调函数名)。输出 callback([])
         </li>
         <li><a href="../auth/gettreedivision?node=-1&callback=funcname" target="_blank">获取行政区划树</a>
             输入:node (根节点) , callback (跨域回调函数名)。输出 callback([])
         </li>

            <li><a href="../index/addindex?text={&quot;content&quot;:&quot;测试内容&quot;,&quot;id&quot;:&quot;2&quot;}&indexname=test" target="_blank">
                新增索引</a>
                输入:text (索引记录) ,indexname (索引名称)。输出 {"sucess":true}
            </li>

            <li><a href="../index/delindex?id=2&indexname=test" target="_blank">
                删除索引</a>
                输入:id (索引id) ,indexname (索引名称)。输出 {"sucess":true}
            </li>
            <li><a href="../index/updateindex?id=2&indexname=test&text={&quot;content&quot;:&quot;浙江省博物馆武林馆&quot;,&quot;id&quot;:&quot;2&quot;}" target="_blank">
                更新索引</a>
                输入:id (索引id) ,indexname (索引名称),text(更新记录内容)。输出 {"sucess":true}
            </li>
            <li><a href="../index/searchindex?text={&quot;req&quot;:{&quot;query&quot;:{&quot;fieldname&quot;:&quot;content&quot;,&quot;fieldvalue&quot;:&quot;浙江博物馆&quot;}},&quot;res&quot;:{&quot;fields&quot;:[&quot;content&quot;,&quot;id&quot;],&quot;output&quot;:{&quot;start&quot;:0,&quot;limit&quot;:10}}}&indexname=test" target="_blank">
                查询索引</a>
                输入:text (索引查询条件) ,indexname (索引名称)。输出 {"sucess":true,"result":[{"id":null,"content":"浙江省博物馆武林馆"},{"id":"2","content":"浙江省博物馆武林馆"}],"totalCount":2}
            </li>

            <li><a href="../authcrossdomain/simpleproxy?loginurl=http://58.49.57.83:80/&method=post&loginparams={%22txtUsername%22:%22hszh%22,%22txtPassword%22:%22123456%22,%22txtNumber%22:%22000%22,%22btnLogin%22:%22%20%22,%22__VIEWSTATE%22:%22%2FwEPDwUKLTUyMjQxMTEwOWRkd5A1iBBySEkwX8up8OML9i6GKAid9O8AXllurkvRPJQ%3D%22,%22__EVENTVALIDATION%22:%22%2FwEdAAWCsEQSwsb35SpqeupZ1K9IVK7BrRAtEiqu9nGFEI%2BjB3Y2%2BMc6SrnAqio3oCKbxYaAXw7gAm6bM%2FKwTlSTQaWsop4oRunf14dz2Zt2%2BQKDEMy712jkV4LqZs2imwoWR%2FVo3SlaYQYpzA4GYfok1lvA%22}" target="_blank">
                登陆代理</a>
                输入:loginurl (登陆地址) ,method (登陆提交方法),loginparams。输出 :返回登陆成功页面
            </li>


        </ul>

    </div>

</div>