<div id="edituserpasswin">
    <form>
        <table>


            <tr>
                <td>原始密码:</td>
                <td><input id="newuserpassword" class="easyui-validatebox" type="password" name="oldpassword" data-options="required:true" ></td>
            </tr>
            <tr>
                <td>新建密码:</td>
                <td><input class="easyui-validatebox" type="password" name="password" data-options="required:true" validType="equals['#newuserpassword']" ></td>
            </tr>


        </table>

    </form>

</div>