<div id="newenumwin">
    <form>
        <table>
            <tr>
                <td>枚举标识:</td>
                <td><input class="easyui-validatebox" type="text" name="enumlabel" data-options="required:true"></td>
            </tr>
            <tr>
                <td>枚举类型:</td>
                <td><input class="easyui-validatebox" type="text" name="enumtype" data-options="required:true"></td>
            </tr>
            <tr>
                <td>功能值:</td>
                <td><input class="easyui-validatebox" type="text" name="enumvalue" data-options="required:true"></td>
            </tr>

        </table>

    </form>

</div>