<div id="newfuncwin">
    <form>
        <table>
            <tr>
                <td>功能名:</td>
                <td><input class="easyui-validatebox" type="text" name="funcname" data-options="required:true"></td>
            </tr>
            <tr>
                <td>功能类型:</td>
                <td><input class="easyui-validatebox" type="text" name="functype" data-options="required:true"></td>
            </tr>
            <tr>
                <td>功能标识:</td>
                <td><input class="easyui-validatebox" type="text" name="label" data-options="required:true"></td>
            </tr>
            <tr>
                <td>功能图标:</td>
                <td><input class="easyui-validatebox" type="text" name="imgurl" data-options="required:false"></td>
            </tr>
            <tr>
                <td>排序号:</td>
                <td><input class="easyui-validatebox" type="text" name="sortnum" data-options="required:false"></td>
            </tr>

        </table>

    </form>

</div>