<div id="newuserwin">
    <form>
        <table>
            <tr>
                <td>登陆名:</td>
                <td><input class="easyui-validatebox" type="text" name="username" data-options="required:true"></td>
            </tr>
            <tr>
                <td>用户名:</td>
                <td><input class="easyui-validatebox" type="text" name="displayname" data-options="required:true"></td>
            </tr>

            <tr>
                <td>密码:</td>
                <td><input id="newuserpassword" class="easyui-validatebox" type="password" name="password" data-options="required:true" ></td>
            </tr>
            <tr>
                <td>密码确认:</td>
                <td><input class="easyui-validatebox" type="password" name="passwordagain" data-options="required:true" validType="equals['#newuserpassword']" ></td>
            </tr>

            <tr>
                <td>行政区划:</td>
                <td><input class="easyui-combotree"
                           data-options="required:true,valueField:'id',textField:'textold'"
                           name="divisionid"></td></td>
            </tr>
            <tr>
                <td>所属角色:</td>
                <td><input class="easyui-combobox lazy-combobox" type="text"
                           name="roleid"
                           data-options="required:true,valueField: 'id',
                                         textField: 'rolename' "></td></td>
            </tr>

        </table>

    </form>

</div>